body{
    background-image: url("./assets/ignasi_pattern_s.png");
}

#contactheader{ color: teal;

}

.container{
    background:whitesmoke;
    width: 60%;
    height: 50;
    padding: 20px;
    margin: 10%;
    margin-left: 10%;
    margin-right: 10%;
}