body{
    background-image: url("./assets/ignasi_pattern_s.png");
}

.container{
    background: whitesmoke;
    height: 50%;
    width: 50%;
    padding: 20px;
    margin: 10%; 
}

.boatpicture{
    width: 100%;
    float: left;
}


#aboutmeheader{ color: teal;

}