body{
    background-image: url("./assets/ignasi_pattern_s.png");
}

.containerone{
    background: whitesmoke;
    height: 50%;
    width: 50%;
    padding: 20px;
    margin: 10%; 
}

.boatpicture{
    width: 100%;
    float: left;
}


#aboutmeheader{ color: teal;

}

body{
    background-image: url("./assets/ignasi_pattern_s.png");
}

#contactheader{ color: teal;

}

.containertwo{
    background:whitesmoke;
    width: 60%;
    height: 50;
    padding: 20px;
    margin: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

body{
    background-image: url("./assets/ignasi_pattern_s.png");
}

#portfolioheader{ color: teal;

}

.containerthree{background: whitesmoke;
    height: 50%;
    width: 70%;
    padding: 20px;
    margin: 10%; 
}

.portfolio-box img {
    width: 100%}